<div class="side-nav container">
    <div class="row">
        <div class="col" style="width: 100%;">
            <div class="side-header">
                <h1 class="nick-name">AL</h1>
                <div class="side-header-content">
                    <p class="name">Alif Razan Saputra</p>
                    <p class="position">FrontEnd Developer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="width: 100%;">
            <ul class="list-menu">
                <li>
                    <button mat-button  class="menu-item">
                        Home
                    </button>
                </li>
                <li>
                    <button mat-button  class="menu-item">
                        About
                    </button>
                </li>
                <li>
                    <button mat-button  class="menu-item">
                        Blog
                    </button>
                </li>
                <li>
                    <button mat-button  class="menu-item">
                        Contact
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>